<script>
	let {
		{{ lowerCaseNoSpace name }} = '⬜ default {{ lowerCaseNoSpace name }}',
		children = null,
		...props
	} = $props();
</script>

<div {...props} class="bg-black text-white {props.class}">
	{#if children}
		{@render children()}
	{:else}
		{#if typeof {{ lowerCaseNoSpace name }} === 'function'}
			{@render {{ lowerCaseNoSpace name }}()}
		{:else}
			{{{ lowerCaseNoSpace name }}}
		{/if}
	{/if}
</div>